*{
    padding:0;
    margin:0;
    box-sizing:border-box
}
html,body{
    height:100%;
    width:100%;
    background-color:black;
}
h1{
    color:seagreen;
    background-color:crimson;
}
p{
    color:seagreen;
    margin:50px 100px;
    font-size:100px;
    font-weight:900;

}